body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 20px;
}

#img {
    
}

img {
    width: 80%;
    height: auto;   
}

.content {
    clear:right;
}

.left {
    background-color: skyblue;
    float: left;
    height: 250px;
    width : 25%;
    border : 1px solid black;
    border-radius: 5px;
    display: inline-block;
    
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
}

.menu {
    height:400px;
    width : 25%;
    background-color:lightblue;
    clear: left;
    border : 1px solid black;
    border-radius: 5px;
    display: inline-block;
}


