body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 20px;
}

#inner {
    position: absolute;
    margin-top:25px;
    margin-left:50px;
}

img {
    width: 80%;
    height: auto;   
}

.content {
    clear:right;
}

.left {
    background-color: skyblue;
    float: left;
    height: 250px;
    width : 250px;
    display: inline block;
    border : 1px solid black;
    border-radius: 5px;
    
}

#menu {
    height:400px;
    background-color:blue;
    clear: left;
    
}


